body {
    background-color: var(--Pale-blue);
}

main {
    text-align: center;
    margin: 3rem 1.5rem 0;
    background-color: var(--Very-pale-blue);
    border-radius: 1.5rem;
    overflow: hidden;
}

section.summary {
    padding: 1.5rem;
}

section.summary h2 {
    margin-bottom: 2rem;
    font-weight: 900;
    font-size: 1.4rem;
}
    .summary p {
        color: var(--Desaturated-blue);
        padding: 0 .5rem;
    }
    .summary .bold {
        color: var(--Dark-blue);
        font-weight: 900;
    }

/* section.img { */
    /* padding: 3rem 5rem 2rem; */
/* }
    section.img img { */
        /* background-color: #fff; */
        /* border-radius: 50%; */
        /* padding: 1.5rem; */
    /* } */

.price {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem 0;
    font-size: .9rem;
}
    .plan {
        /* background-color: lime;
        justify-self: flex-start; */
        /* display: flex;
        flex-direction: column; */
        margin-right: 1.5rem;
    }

button.primary {
    padding: 1rem;
    border-radius: .5rem;
    background-color: var(--Bright-blue);
    color: var(--Pale-blue);
    font-weight: 900;
    margin-bottom: 1.5rem;
}
button {
    color: var(--Desaturated-blue);
}

footer { 
    font-size: 11px; text-align: center; 
    margin-top: auto;
    padding: 1rem;
}
    footer a { 
        color: hsl(228, 45%, 44%); 
    }
