@media (min-width: 1440px) {
    html {
        font-size: 18px;
    }

    body {
        background-color: #111;
    }

    main {
        max-width: 20rem;
        margin: 5rem auto 0;
        background-color: #ccc;
    }

    section.img {
        padding: 3rem 0 0;
    }
        section.img img {
            background-color: #fff;
            border-radius: 50%;
            padding: 1.5rem;
            width: 40%;
        }

    /* .price {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 2rem 0;
    } */

    footer { 
        font-size: 14px; text-align: center; 
        color: #eee;
    }
}

/* body {
    background-color: #aaa;
}

main {
    text-align: center;
    margin: 5rem 1.5rem 0;
    background-color: #ddd;
}

section h2 {
    margin-bottom: 2rem;
}

section.img {
    padding: 3rem 5rem 2rem;
}
    section.img img {
        background-color: #fff;
        border-radius: 50%;
        padding: 1.5rem;
    }

.price {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem 0;
}

footer { 
    font-size: 11px; text-align: center; 
    margin-top: auto;
    padding: 1rem;
}
    footer a { 
        color: hsl(228, 45%, 44%); 
    } */
