@import 'blocks.css';
@import 'desktop.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Colors */
    /* Primary */
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    /* Neutral */
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
    /* glassmorphism */
    --card-bg: rgba(255, 255, 255, .1);
    --accent-bg: rgba(255, 255, 255, .15);
    --theme-clr: rgba(27, 50, 94, .5);
    /* --theme-clr: rgb(35, 55, 89, .5); */
    --font-clr: rgba(255, 255, 255, .8);
    --blur: blur(50px);
    --box-shadow: inset 0 0 6px 3px var(--accent-bg);

    /* --radials: radial-gradient(circle, hsl(0, 0%, 0%) 20%, 
                                       hsl(0, 0%, 1%) 20% 30%,
                                       hsl(0, 0%, 2%) 30% 40%,
                                       hsl(0, 0%, 3%) 40% 55%,
                                       hsl(0, 0%, 4%) 55% 70%,
                                       hsl(0, 0%, 5%) 70% 90%) */
}

html {
    /* font-size: 16px; */
    /* height: 100%; */
    overflow: hidden;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.hidden {
    position: absolute;
    left: -100rem;
}

img {
    display: inline-block;
    width: 100%;
}

button {
    display: block;
    outline: none;
    border: none;
    background-color: transparent;
    /* margin: 1rem; */
    text-align: center;
    font-weight: 900;
    width: 100%;
    font-size: .9rem;
    /* color: var(--Desaturated-blue); */
}
    button:active,
    button:target {
        scale: .98;
    }