@import 'blocks.css';
@import 'desktop.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Colors */
    /* Primary */
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    /* Neutral */
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}

html {
    /* font-size: 16px; */
    /* height: 100%; */
    overflow: hidden;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.hidden {
    position: absolute;
    left: -100rem;
}

img {
    display: inline-block;
    width: 100%;
}

button {
    display: block;
    outline: none;
    border: none;
    background-color: transparent;
    /* margin: 1rem; */
    text-align: center;
    font-weight: 900;
    width: 100%;
    font-size: .9rem;
    color: var(--Desaturated-blue);
}